<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel APP</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div>
      ready to travel around the world :)
    </div>
    <div class="holder zip">
      <label for="city">what city you want to vist : </label>
      <input type="text" id="city">
    </div>
    <div class="holder feel">
      <label for="date">Chose the date : </label>
      <input type="date" class="myInput" id="date"></input>
    </div>
    <div>
      <button id="generate" type="submit"> all abord </button>
    </div>

    <div class="holder entry">
      <div>
        <img id="image" src=" " alt="city">
      </div>
      <div class="title">nice Choice</div>
      <h4>
        <p id="Tripcity"></p>,<p id="country"></p>
      </h4>
      <h5>on <p id="Tripdate"></p>
      </h5>
      <div>
        <div>
          <img id="icon" src=" " alt="icon">
        </div>
        <div>
          <p>Located in <span id="lng"></span> longitude and <span id="lat"></span> latitude.</p>
          <p>The temperature <span id="temp"></span> and it's <span id="description"></span>.</p>
        </div>
      </div>

    </div>

</body>

<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  } else {
    console.log("Service Working not supported");
  }
</script>

</html>