<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel APP</title>
</head>

<body>
  <div id="app">
    <div>
      <h1 class="centr">Travel App</h1>
      <img class="centr" src="http://localhost:8080/src/client/media/airplain.png">
      <h2 class="centr">ready to travel around the world :) </h2>
    </div>
    <div class="centr">
      <label for="city"> what city you want to vist : </label>
      <input type="text" id="city">
    </div>
    <div class="centr">
      <label for="date">Chose the date : </label>
      <input type="date" class="myInput" id="date"></input>
    </div>
    <div class="centr">
      <button id="generate" type="submit"> all abord </button>
    </div>


    <div id="grid-container">
      <div class="grid-item">
        <img id="image" src=" " alt="city">
      </div>
      <div class="grid-item  info">
        <h3>Nice Choice</h3>
        <h4>
          <span id="Tripcity"></span>,<span id="country"></span>
        </h4>
        <h5>on <span id="Tripdate"></spam>
        </h5>
        <div>
          <div>
            <img id="icon" src=" " alt="icon">
          </div>
          <div>
            <p>Located in <span id="lng"></span> longitude and <span id="lat"></span> latitude.</p>
            <p>The temperature <span id="temp"></span> and it's <span id="description"></span>.</p>
          </div>
        </div>
      </div>
    </div>

</body>

<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js');
    });
  } else {
    console.log("Service Working not supported");
  }
</script>

</html>