body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 1.5em;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr;
    /* grid-template-columns:  */

    grid-gap: 1em;
}

.centr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centr-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

input {
    margin: 10px;
}

#grid-container {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #8bbfd58b;
    border-radius: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.info {
    align-items: flex-start;
    margin: 0%;
}

#image {
    max-width:100%;
    max-height:100%;
    border-radius: 20px;
}

html {
    height: 100%;
}

button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    margin: 20px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #f0ec9c;
    font-weight: 500;
    color: #222;
}

@media only screen and (min-width: 425px) {
    #grid-container {
        grid-template-columns: none;
    }

}